<template id="template-quartett-karte">
  <style media="screen">
    .quartettkarte {
      width: 300px;
      padding: 10px;
      border: 1px solid black;
    }

    .kartenbild {
      width: 300px;
      height: 300px;
      display: flex;
    }

    .kartenbild img {
      width: 100%;
      object-fit: contain;
    }

    .kartentitel {
      color: black;
    }

    .kartenbeschreibung {}

    .kartendaten {
      width: 100%;
    }

    h2 {
      text-align: center;
      width: 294px;
      border-radius: 3px 3px 3px 3px;
      margin-bottom: 5px;
      margin-top: 0;
      padding: 3px;
      text-shadow: 1px 0px 0px beige, 0px 1px 0px beige, -1px 0px beige, 0px -1px beige;
    }

    span.label {
      display: inline-block;
      width: 148px;
      border-radius: 3px 0px 0px 3px;
      margin-bottom: 5px;
      padding: 3px;
      background: white;
      opacity: 0.7;
    }

    span.value {
      display: inline-block;
      width: 140px;
      border-radius: 0px 3px 3px 0px;
      margin-bottom: 5px;
      padding: 3px;
      background: white;
      opacity: 0.7;
      text-align: right;
    }

    sup {
      font-size: 10px;
    }
  </style>
  <div class="quartettkarte">
    <div class="kartenbild"><img></div>
    <h2 class="kartentitel"></h2>
    <div class="kartenbeschreibung"></div>
    <div class="kartendaten"></div>
  </div>
</template>
